<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - Test Tesla-Logging 1</title>
  <script type="text/javascript" src="/js/lib/dummy.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/result-light.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <style type="text/css">
  </style>

<script type="text/javascript">//<![CDATA[ 

(function() {
    
    
    // let's define our module
    var app = angular.module('denja', ['ngRoute']);
       
    app.factory('TeslaTripService', ['$interval', function($interval) {
        var d = {
            trip: {
                id: 1,
                desc: 'La Vielle Ferme - Thuis',
				etape: 0,
				statusid: 3,
                waypoints: [
                    {name: 'SuC Macon - La Vielle Ferme',
					 overview: {
						distance: 0,
						totaldistance: 0,
						typical: 0,
						totaltypical: 0,
						consumption: 0,
						totalconsumption: 0,
						averageconsumption: 0,
						drivetime: 0,
						totaldrivetime: 0,
						chargetime: 0,
						totalchargetime: 0,
						chargeneeded: 340,
						arrivaltime: '',
						departuretime: '10:00'
						},
                     theoretical: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 340,
                             consumption: 0,
                             time: '10:00'
						}
                     },
                     efffective: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         }
                     }
                    },
                    {name: 'SuC Auxerre',
					 overview: {
						distance: 232.2,
						totaldistance: 232.2,
						typical: 323,
						totaltypical: 323,
						consumption: 60.0,
						totalconsumption: 60.0,
						averageconsumption: 258,
						drivetime: '2:05',
						totaldrivetime: '2:05',
						chargetime: '0:40',
						totalchargetime: '0:40',
						chargeneeded: 280,
						arrivaltime: '12:05',
						departuretime: '12:45'
						},
                     theoretical: {
                         arrival: {
                             distance: 232.2,
                             typical: 323,
                             consumption: 60.0,
                             time: '2:05'
                         },
                         chargestart: {
                             typical: 17,
                             time: '12:05'
                         },
                         chargeend: {
                             typical: 280,
                             time: '12:45'
                         },
                         departure:{
                             distance: 0,
                             typical: 280,
                             consumption: 0,
                             time: '12:45'
						}
                     },
                     efffective: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         }
                     }
                    },
                    {name: 'SuC Senlis',
					 overview: {
						distance: 209.6,
						totaldistance: 441.8,
						typical: 260,
						totaltypical: 583,
						consumption: 48.0,
						totalconsumption: 108.0,
						averageconsumption: 229,
						drivetime: '2:10',
						totaldrivetime: '4:15',
						chargetime: '0:50',
						totalchargetime: '1:30',
						chargeneeded: 330,
						arrivaltime: '14:55',
						departuretime: '15:45'
						},
                     theoretical: {
                         arrival: {
                             distance: 209.6,
                             typical: 260,
                             consumption: 48.0,
                             time: '2:10'
                         },
                         chargestart: {
                             typical: 20,
                             time: '14:55'
                         },
                         chargeend: {
                             typical: 330,
                             time: '15:45'
                         },
                         departure:{
                             distance: 0,
                             typical: 330,
                             consumption: 0,
                             time: '15:45'
						}
                     },
                     efffective: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         }
                     }
                    },
                    {name: 'SuC Gent',
					 overview: {
						distance: 238.4,
						totaldistance: 680.2,
						typical: 305,
						totaltypical: 888,
						consumption: 57.0,
						totalconsumption: 165.0,
						averageconsumption: 239,
						drivetime: '2:15',
						totaldrivetime: '6:30',
						chargetime: '0:10',
						totalchargetime: '1:40',
						chargeneeded: 110,
						arrivaltime: '18:00',
						departuretime: '18:10'
						},
                     theoretical: {
                         arrival: {
                             distance: 238.4,
                             typical: 305,
                             consumption: 57.0,
                             time: '2:15'
                         },
                         chargestart: {
                             typical: 15,
                             time: '18:00'
                         },
                         chargeend: {
                             typical: 110,
                             time: '18:10'
                         },
                         departure:{
                             distance: 0,
                             typical: 110,
                             consumption: 0,
                             time: '18:10'
						}
                     },
                     efffective: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         }
                     }
                    },
                    {name: 'thuis',
					 overview: {
						distance: 209.6,
						totaldistance: 441.8,
						typical: 260,
						totaltypical: 583,
						consumption: 48.0,
						totalconsumption: 108.0,
						averageconsumption: 229,
						drivetime: '2:10',
						totaldrivetime: '4:15',
						chargetime: '0:50',
						totalchargetime: '1:30',
						chargeneeded: 330,
						arrivaltime: '14:55',
						departuretime: '15:45'
						},
                     theoretical: {
                         arrival: {
                             distance: 80.0,
                             typical: 96,
                             consumption: 18.0,
                             time: '1:00'
                         },
                         chargestart: {
                             typical: 0,
                             time: ''
                         },
                         chargeend: {
                             typical: 0,
                             time: ''
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: ''
						}
                     },
                     efffective: {
                         arrival: {
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         },
                         chargestart: {
                             typical: 0,
                             time: 0
                         },
                         chargeend: {
                             typical: 0,
                             time: 0
                         },
                         departure:{
                             distance: 0,
                             typical: 0,
                             consumption: 0,
                             time: 0
                         }
                     }
                    }
                ]
            }
        }; 
        
        d.fetchTrip = function(id) {
            // code hier zetten om voor id de data op te halen op de server
            // en in d.trip te zetten.
        }
        
        d.addStep = function() {
            // code om alle wijzigingen naar de server te updaten...
            
        }
        
        return d;
    }]);
    app.controller('TeslaTripController', ['$scope', 'TeslaTripService',                 
        function($scope, TeslaTripService) {
            this.trip = TeslaTripService.trip;
        }]);
                              
    
})();
//]]>  

</script>


</head>
<body>
  <div ng-app="denja" class="row ng-scope">
<div class="col-md-12">
    <div ng-controller="TeslaTripController as o" class="well ng-scope">
        <h1 class="ng-binding">{{o.trip.name}}</h1>     
        <table class="table table-hover table-striped">
            <tbody><tr>
                <th>Afstand<br>km</th>
                <th>Typical<br>km</th>
                <th>Verbruik<br>KwH</th>
                <th>Gemiddeld<br>KwH</th>
                <th>Rijtijd<br>u</th>
                <th>Laadtijd<br>u</th>
                <th>Laden tot<br></th>
                <th>Aankomst<br></th>
                <th>Vertrek<br></th>
            </tr>
            <!-- ngRepeat: wp in o.trip.waypoints --><tr ng-repeat="wp in o.trip.waypoints" class="ng-scope">
              
                <td class="ng-binding"> 
                    {{wp.name}}</td>
                <td class="ng-binding">0 - cumul: 0
                   </td> 
                <td>
                    <input type="number" ng-model="wp.theoretical.distance" ng-change="o.initCumul()" class="ng-pristine ng-untouched ng-valid">
                </td>
                
                
            </tr><!-- end ngRepeat: wp in o.trip.waypoints --><tr ng-repeat="wp in o.trip.waypoints" class="ng-scope">
              
                <td class="ng-binding"> 
                    1. Aartselaar SC</td>
                <td class="ng-binding">25 - cumul: 25
                   </td> 
                <td>
                    <input type="number" ng-model="wp.theoretical.distance" ng-change="o.initCumul()" class="ng-pristine ng-untouched ng-valid">
                </td>
                
                
            </tr><!-- end ngRepeat: wp in o.trip.waypoints --><tr ng-repeat="wp in o.trip.waypoints" class="ng-scope">
              
                <td class="ng-binding"> 
                    2. Gent SC</td>
                <td class="ng-binding">30 - cumul: 55
                   </td> 
                <td>
                    <input type="number" ng-model="wp.theoretical.distance" ng-change="o.initCumul()" class="ng-pristine ng-untouched ng-valid">
                </td>
                
                
            </tr><!-- end ngRepeat: wp in o.trip.waypoints --><tr ng-repeat="wp in o.trip.waypoints" class="ng-scope">
              
                <td class="ng-binding"> 
                    3. Calais SC</td>
                <td class="ng-binding">58 - cumul: 113
                   </td> 
                <td>
                    <input type="number" ng-model="wp.theoretical.distance" ng-change="o.initCumul()" class="ng-pristine ng-untouched ng-valid">
                </td>
                
                
            </tr><!-- end ngRepeat: wp in o.trip.waypoints -->
            
        </tbody></table>
    </div>
</div>
</div>


  





</body></html>