<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>Tesla Logger</title>
</head>
<body ng-app="tesla" ng-controller="TeslaController as tc" class="well">
<!--div class="row">
    <div class="block">
        <h1>Tesla Log App</h1>
    </div>
</div -->

<!-- Login screen -->
<div ng-show="tc.logindata.login == 'nok'">
    <div class="row">
        <div class="col-md-12">
            <h1 class="bg-info text-center">Welkom op trip logging en planning</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="car" class="control-label">VIN :</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="car" ng-model="tc.logindata.car">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Paswoord :</label>
                    <div class="input-group">
                        <input type="password" class="form-control input-lg" id="password" ng-model="tc.password">
                    </div>
                </div>
            </form>
            <div>
                <button type="button" class="btn btn-lg btn-primary" ng-click="tc.login(tc.logindata.car, tc.password)"><i class="fa fa-sign-in"></i> Aanmelden</button>
            </div>
            <h3>
                <label class="text-danger">{{tc.logindata.error}}</label>
            </h3>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div ng-hide="tc.logindata.login == 'nok'">

<!-- List of trips -->
<div ng-show="tc.view == 'list'">
    <div class="row">
        <div class="col-md-12">
            <h1 class="bg-info">
                <a ng-click="tc.methods.servercall({action: 'gettrips'})" class="btn btn-lg btn-primary"><i  class="fa fa-refresh"></i> Verfrissen </a>
                <!--a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewTrip" ng-show="tc.logindata.login == 'ok'"><i class="fa fa-file-o"></i> Log nieuwe trip</a-->
                <a ng-hide="tc.logindata.login=='readonly'" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewTripPlan" ><i class="fa fa-file-o"></i> Plan nieuwe trip</a>
                <a ng-hide="tc.logindata.login=='readonly'" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewTripLog" ><i class="fa fa-file-o"></i> Log nieuwe trip</a>
            </h1>
            <h1 class="bg-info">Overzicht trips voor VIN {{tc.logindata.car}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <tr>
                    <th>&nbsp;</th>
                    <th>Datum</th>
                    <th>Omschrijving</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="tr in tc.trips">
                    <td><a ng-click="tc.changeview('view', tr.id)" class="btn btn-lg btn-info"><i class="fa fa-search"></i> Details</a></td>
                    <td>{{tr.date * 1000|date : 'dd-MM-yyyy'}}</td>
                    <td>{{tr.name}}</td>
                    <td>{{tr.status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Detail for a trip -->
<div ng-show="tc.view == 'view'">
    <h1 class="ng-binding bg-info"><a ng-click="tc.changeview('list', 0)" class="btn btn-lg btn-primary"><i class="fa fa-undo"></i>Terug naar overzicht</a> {{o.trip.desc}}</h1>

    <!--
    <div class="row">
        <div class="col-md-6 bg-info">
            <a ng-click="tc.changeview('list', 0)" class="btn btn-btn-lg btn-danger"><i class="fa fa-undo"></i> Back to list</a>
        </div>
        <div class="col-md-6 bg-info">
            <select ng-change="tc.changeview('view', tc.activetrip)" ng-model="tc.activetrip"
                    ng-options="trip.id as trip.name for trip in tc.trips" class="form-control">

            </select>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="trip in tc.trips |filter: {id: tc.activetrip}">
                <h1>{{trip.name}} </h1>
                <i class="fa fa-calendar"></i> {{trip.status}} {{trip.date * 1000|date: 'dd-MM-yyyy'}}<br/><br/>

                <h3>We zijn {{tc.status[tc.trip.statusid].description}} {{tc.trip.waypoints[tc.trip.etape].name}}.</h3>
                <div ng-hide="tc.logindata.login=='readonly'">
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myArrival" ng-show="tc.trip.statusid == 0"><i class="fa fa-flag-checkered"></i> Aankomst</a>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myChargeStart"ng-show="tc.trip.statusid == 1"><i class="fa fa-bolt"></i> Start laden</a>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myChargeEnd" ng-show="tc.trip.statusid == 2"><i class="fa fa-refresh"></i> Stop laden</a>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myDeparture" ng-show="tc.trip.statusid == 1 || tc.trip.statusid == 3"><i class="fa fa-car"></i> Vertrek</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Waypoints </h2>
            <table class="table table-striped table-hover">
                <tr class="bg-success">
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                    <th class="text-center">Afstand<br>km</th>
                    <th class="text-center">Typical<br>km</th>
                    <th class="text-center">Verbruik<br>kWh</th>
                    <th class="text-center">Gemiddeld<br>kWh</th>
                    <th class="text-center">Rijtijd<br>u</th>
                    <th class="text-center">Laadtijd<br>u</th>
                    <th class="text-center">Laden tot<br></th>
                    <th class="text-center">Aankomst<br>u</th>
                    <th class="text-center">Vertrek<br>u</th>
                </tr>
                <tr ng-repeat="wp in tc.trip.waypoints">
                    <td><a class="open-WayPointDetail btn btn-info btn-lg" data-toggle="modal"
                           data-target="#myWayPointDetail" ng-click="tc.activewaypoint = $index">Detail</a>
                    </td>
                    <td><i class="fa fa-car text-primary" ng-show="$index == tc.trip.etape"></i></td>
                    <td>{{wp.name}}</td>
                    <td class="ng-binding text-center">{{wp.overview.distance}}<br>
                        <small>{{wp.overview.totaldistance}}</small>
                    </td>
                    <td class="ng-binding text-center">{{wp.overview.typical}}<br>
                        <small>{{wp.overview.totaltypical}}</small>
                    </td>
                    <td class="ng-binding text-center">{{wp.overview.consumption}}<br>
                        <small>{{wp.overview.totalconsumption}}</small>
                    </td>
                    <td class="ng-binding text-center">{{wp.overview.averageconsumption}}</td>
                    <td class="ng-binding text-center">{{wp.overview.drivetime}}<br>
                        <small>{{wp.overview.totaldrivetime}}</small>
                    </td>
                    <td class="ng-binding text-center">{{wp.overview.chargetime}}<br>
                        <small>{{wp.overview.totalchargetime}}</small>
                    </td>
                    <td class="ng-binding text-center"><b>{{wp.overview.chargeneeded}}</b></td>
                    <td class="ng-binding text-center">{{wp.overview.arrivaltime}}</td>
                    <td class="ng-binding text-center">{{wp.overview.departuretime}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>

</div>

<!-- Modals below -->
<!-- Arrival -->
<div class="modal fade" id="myArrival" tabindex="-1" role="dialog" aria-labelledby="myArrivalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title bg-info">Aankomst in {{tc.trip.waypoints[tc.trip.etape].name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="arrival-typical" class="control-label">Typical range :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="arrival-typical" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.arrival.typical">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="arrival-distance" class="control-label">Km-stand :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="arrival-distance" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.arrival.distance">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="arrival-consumption" class="control-label">Verbruik :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="arrival-consumption" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.arrival.consumption">
                            <span class="input-group-addon">kWh</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'savearrival',
                    tripid: tc.trip.id,
                    wpid: tc.trip.waypoints[tc.trip.etape].id,
                    arrivaltypical: tc.trip.waypoints[tc.trip.etape].theoretical.arrival.typical,
                    arrivaldistance: tc.trip.waypoints[tc.trip.etape].theoretical.arrival.distance,
                    arrivalconsumption: tc.trip.waypoints[tc.trip.etape].theoretical.arrival.consumption})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Charge Start -->
<div class="modal fade" id="myChargeStart" tabindex="-1" role="dialog" aria-labelledby="myChargeStartLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title bg-info">Start laden in {{tc.trip.waypoints[tc.trip.etape].name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="chargestart-typical" class="control-label">Typical range :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="chargestart-typical" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.chargestart.typical">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'savechargestart',
                    tripid: tc.trip.id,
                    wpid: tc.trip.waypoints[tc.trip.etape].id,
                    chargestarttypical: tc.trip.waypoints[tc.trip.etape].theoretical.chargestart.typical})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Charge End -->
<div class="modal fade" id="myChargeEnd" tabindex="-1" role="dialog" aria-labelledby="myChargeEndLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Stop laden in {{tc.trip.waypoints[tc.trip.etape].name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="chargeend-typical" class="control-label">Typical range :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="chargeend-typical" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.chargeend.typical">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'savechargeend',
                    tripid: tc.trip.id,
                    wpid: tc.trip.waypoints[tc.trip.etape].id,
                    chargeendtypical: tc.trip.waypoints[tc.trip.etape].theoretical.chargeend.typical})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Departure -->
<div class="modal fade" id="myDeparture" tabindex="-1" role="dialog" aria-labelledby="myDepartureLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Vertrek vanuit {{tc.trip.waypoints[tc.trip.etape].name}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="departure-typical" class="control-label">Typical range :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="departure-typical" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.departure.typical">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departure-distance" class="control-label">Km-stand :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="departure-distance" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.departure.distance">
                            <span class="input-group-addon">km</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departure-consumption" class="control-label">Verbruik :</label>
                        <div class="input-group">
                            <input type="number" class="form-control input-lg" id="departure-consumption" ng-model="tc.trip.waypoints[tc.trip.etape].theoretical.departure.consumption">
                            <span class="input-group-addon">kWh</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'savedeparture',
                    tripid: tc.trip.id,
                    wpid: tc.trip.waypoints[tc.trip.etape].id,
                    departuretypical: tc.trip.waypoints[tc.trip.etape].theoretical.departure.typical,
                    departuredistance: tc.trip.waypoints[tc.trip.etape].theoretical.departure.distance,
                    departureconsumption: tc.trip.waypoints[tc.trip.etape].theoretical.departure.consumption})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Waypoint Detail -->
<div class="modal fade" id="myWayPointDetail" tabindex="-1" role="dialog" aria-labelledby="myWayPointDetailLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <div name="wpTitle" id="wpTitle">Detail van <span class="label label-info">{{tc.trip.waypoints[tc.activewaypoint].name}}</span>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                trip {{tc.activetrip}} - etape {{tc.trip.etape}} -- {{tc.activewaypoint}}
                {{tc.trip.waypoints[tc.activewaypoint].name}}
                <input type="text" name="wpId" id="wpId" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <!-- button type="button" class="btn btn-lg btn-primary" ng-click="o.m.savedeparture();">Bewaren</button -->
            </div>
        </div>
    </div>
</div>

<!-- Log New Trip -->
<div class="modal fade" id="myNewTripLog" tabindex="-1" role="dialog" aria-labelledby="myNewTripLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Start een nieuwe trip log
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="plandescription" class="control-label">Omschrijving :</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="logdescription" ng-model="tc.description">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'newtriplog',
                    description: tc.description})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Plan New Trip -->
<div class="modal fade" id="myNewTripPlan" tabindex="-1" role="dialog" aria-labelledby="myNewTripLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Plan een nieuwe trip
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="plandate" class="control-label">Geplande datum :</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="plandate" ng-model="tc.date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plandescription" class="control-label">Omschrijving :</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="plandescription" ng-model="tc.description">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Sluiten</button>
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" ng-click="tc.methods.servercall({action: 'newtriplog',
                    description: tc.description})">Bewaren
                </button>
            </div>
        </div>
    </div>
</div>



</body>

<!-- script src="/js/lib/dummy.js"></script -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="app.js"></script>


</html>